/*

Some references you may find useful:

https://developer.mozilla.org/en-US/docs/Web/CSS/background-image#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/border#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/margin#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/color#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/font-size#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/height#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/text-align#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/width#Syntax
http://www.colorzilla.com/gradient-editor/

Note that I've included the background image for the page in this folder, "grey.png"

Write your CSS rules below.

*/

body
{
  background-image: url("grey.png");
}

.board{
  border: thick teal solid;
  margin: 36px auto;
}

.square{
  color: rgb(255, 150, 64);
  font-size:48px;
  height: 72px;
  width: 74px;
  text-align: center;
  text-shadow: 1px 1px 2px #333;
  padding: 0;
}

.dark_square{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#25616b+0,339297+50,52c2c6+100 */
background: rgb(37,97,107); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(37,97,107,1) 0%, rgba(51,146,151,1) 50%, rgba(82,194,198,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(37,97,107,1)), color-stop(50%,rgba(51,146,151,1)), color-stop(100%,rgba(82,194,198,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(37,97,107,1) 0%,rgba(51,146,151,1) 50%,rgba(82,194,198,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(37,97,107,1) 0%,rgba(51,146,151,1) 50%,rgba(82,194,198,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(37,97,107,1) 0%,rgba(51,146,151,1) 50%,rgba(82,194,198,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(37,97,107,1) 0%,rgba(51,146,151,1) 50%,rgba(82,194,198,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25616b', endColorstr='#52c2c6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */




}


/*how do you do the shading?*/
