/*

Some references you may find useful:

https://developer.mozilla.org/en-US/docs/Web/CSS/background-image#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/border#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/margin#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/color#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/font-size#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/height#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/text-align#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/width#Syntax
http://www.colorzilla.com/gradient-editor/

Note that I've included the background image for the page in this folder, "grey.png"

Write your CSS rules below.

*/

body
{
  background-image: url("grey.png");
}

.board{
  border: thick teal solid;
  margin: 36px auto;
}

.square{
  color: rgb(255, 150, 64);
  font-size:48px;
  height: 72px;
  width: 74px;
  text-align: center;
  text-shadow: 1px 1px 2px #333;
  padding: 0;
}

.dark_square{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3e7070+0,277272+41,1d7373+100 */
  background: rgb(62,112,112); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgb(62,112,112) 0%, rgb(39,114,114) 41%, rgb(29,115,115) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(62,112,112)), color-stop(41%,rgb(39,114,114)), color-stop(100%,rgb(29,115,115))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgb(62,112,112) 0%,rgb(39,114,114) 41%,rgb(29,115,115) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgb(62,112,112) 0%,rgb(39,114,114) 41%,rgb(29,115,115) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgb(62,112,112) 0%,rgb(39,114,114) 41%,rgb(29,115,115) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgb(62,112,112) 0%,rgb(39,114,114) 41%,rgb(29,115,115) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e7070', endColorstr='#1d7373',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}


/*how do you do the shading?*/
